@charset "utf-8";

@font-face {
  font-family: fonticon;
  src: url(fonts/Pizzaicon.ttf);
}

@font-face {
  font-family: fonttext;
  src: url(fonts/Pizzatext.ttf);
}

body {
  background: url(https://img.myloview.com.br/fotomurais/pizza-slices-seamless-pattern-hand-drawn-menu-background-with-pizza-and-ingredients-vector-sketch-illustration-engraved-style-food-background-700-202277670.jpg);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  cursor: default;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: fonttext;
  font-size: 3em;
  background-color: #000000;
  border-radius: 50%;
  border: #ffffff 5px solid;
  padding: 1.5%;
  max-width: 800px;
  margin-left: 18.5%;
  text-align: center;
}

span {
  cursor: default;
  font-family: fonticon;
  font-size: 1em;
  margin-left: 20px;
  margin-right: 20px;
}

h2 {
  cursor: default;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: fonttext;
  font-size: 2.5em;
  background-color: #000000;
  border-radius: 50%;
  border: #ffffff 5px solid;
  padding: 0.5%;
  padding-bottom: 1%;
  max-width: 550px;
  margin-left: 27.5%;
  text-align: center;
}

label {
  margin-left: 10px;
}

form {
  cursor: default;
  letter-spacing: 1px;
  font-family: fonttext;
  font-size: 2.5em;
  background-color: #ffffff;
  border-radius: 20px;
  border: #000000 5px solid;
  padding: 0.5%;
  padding-bottom: 1%;
  max-width: 550px;
  margin-left: 27.5%;
}

.regs {
  font-size: 1.5em;
}

.tablesalgada {
  position: absolute;
  left: -25%;
  cursor: default;
  letter-spacing: 1px;
  font-family: fonttext;
  font-size: 2.5em;
  background-color: #ffffff;
  border-radius: 20px;
  border: #000000 5px solid;
  padding: 0.5%;
  padding-bottom: 60%;
  padding-right: 500px;
  max-width: 550px;
  margin-left: 27.5%;
}

.image {
  height: 130px;
  width: 200px;
  border: black solid 5px;
  border-radius: 3px;
}

.img1 {
  position: absolute;
  top: 100%;
  left: -22%;
}

.img2 {
  position: absolute;
  top: 100%;
  right: -15%;
}

.img3 {
  position: absolute;
  top: 100%;
  left: -20%;
}

.img4 {
  position: absolute;
  top: 100%;
  right: 5%;
}

.img5 {
  position: absolute;
  top: 100%;
  left: 13%;
}

.img6 {
  position: absolute;
  top: 100%;
  left: -22%;
}

.img7 {
  position: absolute;
  top: 180%;
  right: 0%;
}

.img8 {
  position: absolute;
  top: 100%;
  left: -30%;
}

.img9 {
  position: absolute;
  top: 100%;
  right: -40%;
}
.space {
  position: absolute;
  top: 20%;
  left: 10%;
}

.space2 {
  position: absolute;
  top: 20%;
  right: 10%;
}

.space3 {
  position: absolute;
  top: 50%;
  left: 10%;
}

.space4 {
  position: absolute;
  top: 50%;
  right: 2%;
}

.space5 {
  position: absolute;
  top: 620px;
  left: 22%;
}

.space6 {
  position: absolute;
  top: 20%;
  left: 10%;
}

.space7 {
  position: absolute;
  top: 20%;
  right: 8%;
}

.space8 {
  position: absolute;
  top: 65%;
  left: 10%;
}

.space9 {
  position: absolute;
  top: 65%;
  right: 15%;
}

.titlespace {
  position: absolute;
  font-size: 2em;
  top: 5%;
  left: 25%;
}

.tabledoce {
  position: absolute;
  margin-bottom: 200px;
  cursor: default;
  letter-spacing: 1px;
  font-family: fonttext;
  font-size: 2.5em;
  background-color: #ffffff;
  border-radius: 20px;
  border: #000000 5px solid;
  padding: 0.5%;
  padding-left: 250px;
  padding-right: 250px;
  padding-bottom: 40%;
  max-width: 550px;
  margin-left: 55%;
}

.enviar {
  font-family: fonttext;
  letter-spacing: 3px;
  color: #ffffff;
  background-color: #000000;
  border: #5e5e5e 1px solid;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
  font-size: 0.7em;
}

select {
  font-family: fonttext;
  letter-spacing: 3px;
  color: #ffffff;
  background-color: #000000;
  border: #5e5e5e 1px solid;
  border-radius: 3px;
  cursor: pointer;
  width: 50%;
  font-size: 0.7em;
}

.enviar:active {
  transform: translateY(3px);
}

.pedidoh {
  margin-top: 70%;
}

.pedidoi {
  font-family: fonttext;
  font-size: 0.7em;
  letter-spacing: 3px;
  color: #ffffff;
  background-color: #000000;
  border: #5e5e5e 1px solid;
  border-radius: 3px;
}

.infi {
  font-family: fonttext;
  font-size: 0.7em;
  letter-spacing: 3px;
  color: #ffffff;
  background-color: #000000;
  border: #ffffff 1px solid;
  border-radius: 3px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darkgrey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


footer {
  margin-top: 100px;
  cursor: default;
  letter-spacing: 1px;
  font-family: fonttext;
  font-size: 1.7em;
  background-color: #ffffff;
  border-radius: 10px;
  border: #000000 5px solid;
  padding: 0.5%;
  padding-bottom: 1%;
}

.logo {
  cursor: default;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: fonttext;
  font-size: 1em;
  background-color: #000000;
  border-radius: 50%;
  border: #ffffff 5px solid;
  padding: 0.5%;
  padding-bottom: 1%;
  max-width: 480px;
  margin-left: 55%;
  text-align: center;
}

.foti {
  margin-left: 5%;
}

@media all and (max-width: 560px) {
    
  h1 {
      cursor: default;
      letter-spacing: 1px;
      color: #ffffff;
      font-family: fonttext;
      font-size: 2em;
      background-color: #000000;
      border-radius: 50%;
      border: #ffffff 5px solid;
      padding: 1.5%;
      max-width: 700px;
      text-align: center;
      margin-left: 0;
    }
    
    span {
      cursor: default;
      font-family: fonticon;
      font-size: 1em;
      margin-left: 20px;
      margin-right: 20px;
    }
    
    h2 {
      cursor: default;
      letter-spacing: 1px;
      color: #ffffff;
      font-family: fonttext;
      font-size: 2.5em;
      background-color: #000000;
      border-radius: 50%;
      border: #ffffff 5px solid;
      padding: 0.5%;
      padding-bottom: 1%;
      max-width: 550px;
      margin-left: 0;
      text-align: center;
    }
    
    label {
      margin-left: 10px;
    }
    
    form {
      cursor: default;
      letter-spacing: 1px;
      font-family: fonttext;
      font-size: 2.5em;
      background-color: #ffffff;
      border-radius: 20px;
      border: #000000 5px solid;
      padding: 0.5%;
      padding-bottom: 1%;
      max-width: 550px;
      margin-left: 0;
    }
    
    .regs {
      font-size: 1.5em;
    }
    
    .tablesalgada {
      position: absolute;
      left: -25%;
      cursor: default;
      letter-spacing: 1px;
      font-family: fonttext;
      font-size: 2.5em;
      background-color: #ffffff;
      border-radius: 20px;
      border: #000000 5px solid;
      padding: 0.5%;
      padding-bottom: 155%;
      padding-right: 500px;
      max-width: 550px;
      margin-left: 25.5%;
    }
    
    .image {
      height: 120px;
      width: 190px;
      border: black solid 5px;
      border-radius: 3px;
    }
    
    .img1 {
      position: absolute;
      top: 100%;
      left: -22%;
    }
    
    .img2 {
      position: absolute;
      top: 100%;
      right: -15%;
    }
    
    .img3 {
      position: absolute;
      top: 100%;
      left: -20%;
    }
    
    .img4 {
      position: absolute;
      top: 100%;
      right: 5%;
    }
    
    .img5 {
      position: absolute;
      top: 100%;
      left: 13%;
    }
    
    .img6 {
      position: absolute;
      top: 100%;
      left: -22%;
    }
    
    .img7 {
      position: absolute;
      top: 180%;
      right: 0%;
    }
    
    .img8 {
      position: absolute;
      top: 100%;
      left: -30%;
    }
    
    .img9 {
      position: absolute;
      top: 100%;
      right: -40%;
    }
    .space {
      position: absolute;
      top: 20%;
      left: 10%;
    }
    
    .space2 {
      position: absolute;
      top: 20%;
      right: 10%;
    }
    
    .space3 {
      position: absolute;
      top: 50%;
      left: 10%;
    }
    
    .space4 {
      position: absolute;
      top: 50%;
      right: 2%;
    }
    
    .space5 {
      position: absolute;
      top: 620px;
      left: 22%;
    }
    
    .space6 {
      position: absolute;
      top: 20%;
      left: 10%;
    }
    
    .space7 {
      position: absolute;
      top: 20%;
      right: 8%;
    }
    
    .space8 {
      position: absolute;
      top: 65%;
      left: 10%;
    }
    
    .space9 {
      position: absolute;
      top: 65%;
      right: 15%;
    }
    
    .titlespace {
      position: absolute;
      font-size: 2em;
      top: 5%;
      left: 25%;
    }
    
    .titlespace2 {
      position: absolute;
      font-size: 2em;
      top: 5%;
      left: 35%;
    }
    
    .tabledoce {
      top: 110%;
      position: absolute;
      cursor: default;
      letter-spacing: 1px;
      font-family: fonttext;
      font-size: 2em;
      background-color: #ffffff;
      border-radius: 20px;
      border: #000000 5px solid;
      padding: 0.5%;
      padding-left: 280px;
      padding-right: 200px;
      padding-bottom: 520px;
      max-width: 500px;
      right: 3%;
    }
    
    .enviar {
      font-family: fonttext;
      letter-spacing: 3px;
      color: #ffffff;
      background-color: #000000;
      border: #5e5e5e 1px solid;
      border-radius: 3px;
      cursor: pointer;
      width: 100%;
      font-size: 0.7em;
    }
    
    select {
      font-family: fonttext;
      letter-spacing: 3px;
      color: #ffffff;
      background-color: #000000;
      border: #5e5e5e 1px solid;
      border-radius: 3px;
      cursor: pointer;
      width: 50%;
      font-size: 0.7em;
    }
    
    .enviar:active {
      transform: translateY(3px);
    }
    
    .pedidoh {
      margin-top: 300%;
    }
    
    .registroh{
      margin-top: 50%;
    }

    .pedidoi {
      font-family: fonttext;
      font-size: 0.7em;
      letter-spacing: 3px;
      color: #ffffff;
      background-color: #000000;
      border: #5e5e5e 1px solid;
      border-radius: 3px;
    }
    
    .infi {
      font-family: fonttext;
      font-size: 0.7em;
      letter-spacing: 3px;
      color: #ffffff;
      background-color: #000000;
      border: #ffffff 1px solid;
      border-radius: 3px;
    }

    
footer {
  margin-top: 100px;
  cursor: default;
  letter-spacing: 1px;
  font-family: fonttext;
  font-size: 1.7em;
  background-color: #ffffff;
  border-radius: 10px;
  border: #000000 5px solid;
  padding: 0.5%;
  padding-bottom: 1%;
}

.logo {
  cursor: default;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: fonttext;
  font-size: 1.1em;
  background-color: #000000;
  border-radius: 50%;
  border: #ffffff 5px solid;
  padding: 0.5%;
  padding-bottom: 1%;
  max-width: 500px;
  margin-left: 0;
  text-align: center;
}

.foti {
  margin-left: 5%;
  max-width: 80%;
}

  }